.container-modal-cadastro{
    width: 428px;
    height: 401px;
    background-color:rgba(100, 149, 237, 1);
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 200px auto;
    border-radius: 4px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25)
}
.container-modal-cadastro h1{
    font-size: 28px;
    font-weight: 700;
    font-family: 'Montserrat';
    color: #FFFFFF;
    align-self: center;
    margin-bottom: 10px;
}

.form-cadastro{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    gap: 20px;
    padding: 20px;
}
.form-cadastro .btn-close-cadastro{
    position: absolute;
    left: 1190px;
    top: 210px;
    border: none;
    color: #FFFFFF;
    padding: 10px;
    width: 18px;
    font-size: 24px;
    background-color: rgba(100, 149, 237, 1);
    /* align-self: flex-end;
    margin-bottom: 20px;
     */
}
.btn-close-cadastro a {
    text-decoration: none;
    color: #FFFFFF;
}
.nameUser{
    width: 246px;
    height: 42px;
    background-color: #f3f3f3;
    border: none;
    border-radius: 4px;
}
.nameUser::placeholder{
    padding: 5px;
    font-family: 'Montserrat';
    font-size: 13px;;
}
.email-cadastro{
    width: 246px;
    height: 42px;
    background-color: #f3f3f3;
    border: none;
    border-radius: 4px;
}
.email-cadastro::placeholder{
    padding: 5px;
    font-family: 'Montserrat';
    font-size: 13px;;
}
.img-cadastro{
    width: 246px;
    height: 42px;
    background-color: #f3f3f3;
    border: none;
    border-radius: 4px;
}
.img-cadastro::placeholder{
    padding: 5px;
    font-family: 'Montserrat';
    font-size: 13px;;
}
.senha-cadastro{
    width: 246px;
    height: 42px;
    background-color: #f3f3f3;
    border: none;
    border-radius: 4px;
}
.senha-cadastro::placeholder{
    padding: 5px;
    font-family: 'Montserrat';
    font-size: 13px;;
}
.form-cadastro .btn-cadastrar{
    font-size: 18px;
    width: 132px;
    height: 42px;
    border: none;
    border-radius: 5px;
    background-color: #EDBC64;
    color: #FFFFFF;
    cursor: pointer;
}
.btn-cadastrar:hover{
    color: #FFFFFF;
    background-color: #f4cd83;

}
